body{
  font-family: 'Roboto';
  margin: 0;
  background: linear-gradient(to bottom, #B36BFF, #FFB15E);
  height: 100vh;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
}
h1{
  color: white;
  font-weight: bold
}
a{
    text-decoration:none;
    color: white;
}
nav ol li{
  list-style: none;
  display: block;
  justify-content: space-between;
  font-weight: bold;
  margin-left: 10px;
}
ol{
  display: flex;
}
#help{
  color: white;

}
.calculadora{
  margin-top: 100px;
  margin-left: 490px;
  margin-right: 490px;
  border: 1px solid #5E5E5E;
  border-radius: 10px;
}
button{
  background-color: #EBEAEA;
  color: #636363;
  border: 0px solid #757575;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  margin-top: 10px;
}
#operaciones{
  margin-left: 170px;
  margin-top: -160px;
  display: grid;
}
#operaciones button{
  background-color: #5C5C5C;
  color: white;
}
#pantalla{
  color: white;
  width: 180px;
}
#screen{
  background-color: #5C5C5C;
  width: 180px;
  height: 40px;
  margin-left: 50px;
  display: flex;
    align-items: center;
}
#botones{
  margin-top: 20px;
}
#i{
  width: 160px;
  margin-left: 50px;
  background-color: #DECBFD;
}
#c{
  margin-left: 5px;
}
#n0{
  width: 120px;

}
#contenedor{
  margin-left: -50px;
  margin-bottom: 10px;
  margin-bottom: 40px;
}
footer{
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  margin-left: 130vh;
  padding-bottom: 20px;
}
#tituloDeAyuda{
  margin-left: 75px;
  color: white;
}
#parrafoAyuda{
  text-align: center;
  color: white;
}
#punto{
  width: 120px;
  margin-left: 51px;
}
